* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


/* cabecalio */


#div01 {
    width: 100%;
    height: 50vh;
    background-image: url(imgs/home-banner.jpg.webp);
}

#div02 {
    height: 10vh;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#divbtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    width: 80%;
    height: 10vh;
}

#imgcabecalio {
    display: flex;
    margin-left: 6%;
}

.btns {
    font-size: 15px;
    color: aliceblue;
    text-decoration: none;
    font-family: "Questrial", sans-serif;
    color: white;
    display: inline-block;
    left: 2%;
    margin-right: 3%;
}

.btns:hover {
    color: #fcdc00;
    transition: 0.6s;
}


#div03 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.ul-2-header {
    margin-left: 100px;
    list-style: none;
}

/* Services */

.tudo {
    text-align: center;
}

#texto9 {
    color: white;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    padding-top: 60px;
    margin-bottom: 2%;

}

#texto10 {
    font-size: 14px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

#texto10:hover {
    color: #fcdc00;
    transition: 0.5s;
    cursor: pointer;
}



#texto11 {
    font-size: 14px;
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

#texto11:hover {
    color: #fcdc00;
    transition: 0.5s;
    cursor: pointer;
}

#alinhamento {
    width: 100%;
    display: flex;
    justify-content: center;


}

#conjunto6trem {
    width: 80%;
    height: 60vh;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#div6btns {
    width: 28%;
    height: 25vh;
    text-align: center;
    border: 1px solid #eeeeee;
    padding: 40px;
    margin-bottom: 30px;
    margin: 0 1% 2vh;
}

#div6btns a {
    color: #222222;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#div6btns p {
    font-family: "Poppins", sans-serif;
    color: #777777;
    font-size: 14px;
    margin-bottom: 20px;
}

#div6btns img {
    margin-bottom: 3%;
    text-align: center
}

#div6btns:hover {
    transition: 0.3s;
    background-color: #fcdc00;
}

/* botão do instagram e as imagens abaixo dele */

#divinstagram {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%
}

.btninst {
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-top: 5%;
    padding: 1.5vh 3%;
    background-color: #fcdc00;
}

#imgsinsta {
    width: 75%;
    height: 50vh;
    margin-top: 3%;
    margin-left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fim da area do insta de imgs */

footer {
    height: 50vh;
    background-color: #04091e;
    display: flex;
    align-items: center;
}

.div-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 10%;
}

.footer1 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer1>h2 {
    color: #FFF;
    font-size: 18px;
}

.footer1>p {
    color: #777777;
    font-size: 14px;
    margin-top: 10%;
}

.footer2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer2>h2 {
    color: #FFF;
    font-size: 18px;
}

.footer2>p {
    color: #777777;
    font-size: 14px;
    margin-top: 10%;
    margin-bottom: 5%;
}

.input-btn {
    display: flex;
}

.input-btn>input {
    height: 5vh;
    width: 20vw;
}

.enviar-btn {
    display: flex;
    width: 13%;
    height: 4.95vh;
    background-color: #FCDC00;
    margin-left: -1%;
    justify-content: center;
    align-items: center;
}

.enviar-btn>svg {
    height: 4vh;
}

.footer3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 15%;
}

.footer3>h2 {
    color: #FFF;
    font-size: 18px;
}

.footer3>p {
    color: #777777;
    font-size: 14px;
    margin-top: 20%;
    margin-bottom: 10%;
}

.logos-footer {
    display: flex;
    fill: #FFF;
    align-items: center;
    justify-content: space-around;
}